* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    background: lightblue;
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    margin: 1rem;
    font-family: sans-serif;
    font-size: 12pt;
    color: black;
    text-align: center;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    gap: inherit;
}

legend {
    padding: 5px;
    color: lightblue;
    font-size: 1.2em;
}

label,
input,
button,
select,
textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
}

label {
    text-align: right;
    padding-right: 1em;
}

input,
select,
textarea {
    padding: 3px;
    font-size: 15pt;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: lightblue;
    color: black;
}

footer {
    background-color: white;
    color: black;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 5px;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}