.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid;
    padding: 3px;
    background-color: darkblue;
    color: white;
}

.callout img {
    float: right;
    margin: 10px;
    border: 1px solid white;
    background-color: darkblue;
    width: 120px;
    height: 120px;
}

blockquote {
    margin: 0;

}

cite {
    display: block;
    margin: 3px;
    border-top: 1px dotted;
    width: auto;
    color: white;
    background-color: darkblue;
    text-align: right;
}